.colores{
    background-color:
    #2f464c
    #3a655c

    #ebcc93
    #e2b768
    #cd9e4d;
}
/* NAVBAR*/

.navbar-bg-gr{
    background-color: #3a655c;
}

#fdt-navbar img {
    /* margin:  10px 0px 10px 0px; */
    padding: 0px 20px 0px 0px;
}

#fdt-navbar .logo-fdt,
#fdt-navbar .logo-fdt-muni {
    padding: 10px;
}


#fdt-navbar .logo-fdt img {
    max-height: 60px;
    border-right: 2px solid #cd9e4d;
}


#fdt-navbar .logo-fdt-muni  img {
    max-height: 40px;
}

#fdt-navbar .container-fluid{
    padding-right: 24px;
    padding-left: 14px;
}

@media screen and (max-width: 768px) {
    #fdt-navbar .logo-fdt img {
        max-height: 50px;
    }

    #fdt-navbar .logo-fdt-muni  img {
        max-height: 30px;
    }

    #fdt-navbar .logo-fdt{
        margin-right: 0px;
    }

    #fdt-navbar .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }
}


/* BACKGROUNDS */
/*  BANNER - PORTADA  */
#fdt .portada-foto{
   background-image: url("/storage/fdt/banner.png")  ;
   height: 420px;
   background-size: cover;
   background-position: center;
}

@media screen and (max-width: 768px) {
    #fdt .portada-foto{
        height: 220px;
    }
}


#fiesta-del-trigo .impact{
    background-image: url("/storage/fdt/fondos/fondo-recorte1.png");
    background-size: cover;
    color: #FFF;
    /* background-color: #3a655c; */
}

/* TITULOS */
#fiesta-del-trigo .bg-brushstroke-yl{
    display: inline-block;
    background-image: url("/storage/fdt/fondos/b1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 40px 60px;
}

#fiesta-del-trigo .bg-brushstroke-gr{
    display: inline-block;
    background-image: url("/storage/fdt/fondos/b2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 40px 60px;
}

#fiesta-del-trigo .bg-brushstroke p{
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family:  Anton Regular, sans-serif;
    margin-bottom: 0px;
    color: #fff;
}

#fdt-licitaciones .bg-cinta, #fdt-inscripciones .bg-cinta{
  margin-bottom: 40px;
}

/*  modifico estilo CTA */
#fiesta-del-trigo .cta {
    background: linear-gradient(rgba(186, 186, 186, 0.328), rgba(45, 45, 45, 0.131)),  url("/storage/fdt/fondos/amarillo.png") fixed center center;
   /* background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sections/geom-2.jpg") fixed center center; */
    /* background:url("../img/generals/blue.png") fixed center center; */
 /* background-color: #004f9f; */
   background-size: cover;
   padding: 60px 0;
}

#fiesta-del-trigo .cta p {
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.619);
    /* text-shadow: none; */
}

/* ACCORDION BG TRANSPARENTE */

#fiesta-del-trigo .accordion {
     padding: 0px 80px;
}

@media screen and (max-width: 768px) {
    #fiesta-del-trigo .accordion {
        padding: 0px 20px;
   }
}


#fiesta-del-trigo .accordion-item {
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Bordes blancos semitransparentes */
}

/* Estilo del encabezado del acordeón */
#fiesta-del-trigo .accordion-button {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Bordes visibles */
    font-weight: bold;
}

/* Cambiar el icono de despliegue cuando está abierto */
#fiesta-del-trigo .accordion-button:not(.collapsed) {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
    box-shadow: none;
}

/* Quitar borde y sombra cuando se hace clic */
#fiesta-del-trigo .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.5);
}

/* Cuerpo del acordeón */
#fiesta-del-trigo .accordion-body {
    background-color: transparent !important;
    color: white !important;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* Ajustar el icono del botón desplegable */
#fiesta-del-trigo .accordion-button::after {
    filter: invert(1); /* Hace el icono blanco */
}

/* ESTILOS BTNS */

#fiesta-del-trigo .yl-btn,
#fdt-navbar .yl-btn{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 4px;
    transition: 0.5s;
    margin: 10px;
    background: #cd9e4d;
    border:  2px solid #cd9e4d;
    color: #fff;
}

#fiesta-del-trigo .yl-btn:hover {
    border: 2px solid #ebcc93;
    background: #ebcc93;
}

#fiesta-del-trigo .gr-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #3a655c;
    background: #3a655c;
    color: #fff;
}

#fiesta-del-trigo .gr-btn:hover {
    border: 2px solid #52867b;
    background: #52867b;
}

#fdt-line-up #portfolio-flters li:hover,
#fdt-line-up #portfolio-flters li.filter-active {
  color: #FFF;
  background: #cd9e4d;
}

/* ICONOS */

#fiesta-del-trigo .impact .content ul i {
    color: #cd9e4d;
}
